<section>
  <h1>About the Tude</h1>
  <p>
    {% img left http://www.gravatar.com/avatar/5de6eade9b61a1ea85aa936c4b703672?s=64 Stephen&rsquo;s avatar %}

    I am Stephen Tudor, a creative web developer living in the greater Philadelphia&nbsp;area.
  </p>
  <p>
    I currently work for <a href="http://ebayenterprise.com">eBay&nbsp;Enterprise</a>. My
    opinions are my own, and not necessarily those of my&nbsp;employer.
  </p>
  {% if site.twitter_user %}
    <p>
    {% if site.twitter_follow_button %}
      <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
    {% else %}
      <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a>
    {% endif %}
    </p>
  {% endif %}
</section>
