// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside[role="sidebar"] {
    p {
        margin: 0.5em 0 1em;
    }
    img.left {
        float: left;
        margin: 0.25em 1.2em 0.8em 0;
    }
}
